$dark-color: #282828;
$light-color: #F5F5F5;
$grid-border-color: #B0B0B0;
$border-view-radius: 0.25rem;
$border-circle-radius: 50%;
$alert-color: #C60000;
$event-color: #484848;
$ok-color: #289345;
$event-expired-opacity: 0.7;
$event-color-all-day: #1b3752;
$day-names-color: #E0E0E0;
$transition: all .3s;
$transition-faster: all .2s;
$input-border-color: #A8A8A8;
$input-background-color: #FFFFFF;
$header-date-toolbar-button-border: 4px solid $light-color;
$header-date-toolbar-button-small-border: 3px solid $light-color;
$header-toolbar-button-border: 4px solid $light-color;
$scroll-bar-border-style: inset 0 0 6px gray;
$event-left-border: 7px solid $dark-color;
$standard-border-size: 1px;
$spacing: 10px;
$large-font-size: 0.9rem;
$small-font-size: 0.7rem;
$maximum-width: 450px;
$minimum-width: $maximum-width + 1;
$time-hours-width: 80px;
$time-hours-height: 40px;
$time-arrow-line-height: 12px;
$link-color: #2471A3;
$input-hover-color: $dark-color;

@mixin fade-in-effect-animation($seconds) {
    animation: fade-in-effect ease $seconds;
    -webkit-animation: fade-in-effect ease $seconds;
    -moz-animation: fade-in-effect ease $seconds;
    -o-animation: fade-in-effect ease $seconds;
    -ms-animation: fade-in-effect ease $seconds;
}

@mixin no-selection-allowed {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}

@mixin opacity-hover-effect {
    transition: $transition;
    cursor: pointer;
    opacity: 0.6;
}

@mixin opacity-active-effect {
    transition: all .2s;
    cursor: pointer;
    opacity: 0.4;
}

@mixin word-wrap-with-new-lines {
    white-space: pre-line;
    -ms-word-break: break-all;
    word-break: break-all;
}

@mixin full-size-view {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

@mixin full-size-view-display($z-index: 1) {
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: $z-index;
    background-color: $light-color;
    transition: $transition;
    visibility: hidden;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin overlay-contents {
    display: inline-block;
    padding: $spacing;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% - (#{$spacing} * 2));

    @media screen and (min-width: $minimum-width) {
        height: calc(100% - ((#{$spacing} * 4) + #{$large-font-size}) - #{$standard-border-size} * 2);
    }
    
    @media screen and (max-width: $maximum-width) {
        height: calc(100% - ((#{$spacing} * 4) + #{$small-font-size}) - #{$standard-border-size} * 2);
    }
}

@mixin dialog-styles($width, $includeTransform: true, $z-index: 1500) {
    width: calc(100% - (#{$spacing} * 2));
    max-width: $width;
    border-radius: $border-view-radius;
    background-color: $light-color;
    border: $standard-border-size solid $dark-color;
    position: fixed;
    display: none;
    box-shadow: 4px 4px 4px $dark-color;
    z-index: $z-index;

    @if $includeTransform {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    div.ib-close {
        float: right;
    }
}

@mixin dialog-button-styles {
    @include no-selection-allowed;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: none;
    padding: .255rem .55rem;
    line-height: 1.8;
    border-radius: $border-view-radius;
    outline: 0;
    cursor: pointer;

    &:disabled {
        background-color: $input-border-color !important;
        cursor: default !important;
    }
}

@mixin button($name, $color, $background-color) {
    &.#{$name} {
        color: $color;
        background-color: $background-color;

        &:not(:disabled):hover {
            @include opacity-hover-effect;
        }

        &:not(:disabled):active {
            @include opacity-active-effect;
        }
    }
}

@mixin disabled-area($position) {
    @include full-size-view;
    z-index: 1000;
    position: $position;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.3);
}

@mixin div-label-spacing {
    div {
        margin-bottom: $spacing / 2;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@mixin input-style {
    border: 1px solid $input-border-color;
    border-radius: $border-view-radius;
    outline: none;
}

@mixin input-fields($height: 0px) {
    @include input-style;
    width: 100%;
    padding: .375rem .75rem;
    color: $dark-color;
    margin-bottom: $spacing;
    background-color: $input-background-color;
    transition: $transition;

    @if $height > 0px {
        height: $height;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:focus {
        border: 1px solid $dark-color !important;
        box-shadow: 0 0 1pt 1pt $dark-color;
    }

    &:hover {
        border: 1px solid $input-hover-color;
    }
}

@mixin dialog-title-bar {
    div.title-bar {
        @include no-selection-allowed;
        background-color: $dark-color;
        color: $light-color;
        padding: $spacing;
        text-align: center;
    }
}