@import "styles";

div.time-arrow {
    position: absolute;
    width: calc( 100% - var(--time-view-hours-width) - ( var(--spacing) * 2 ) - var(--spacing-border-size) );
    left: calc( var(--time-view-hours-width) + ( var(--spacing) * 2 ) + var(--spacing-border-size) );
    top: 0;                    
    z-index: 10;
    height: var(--time-view-arrow-line-height);
    display: none;
    pointer-events: none;

    div.arrow-left {
        width: 0; 
        height: 0; 
        border-top: calc( var(--time-view-arrow-line-height) / 2 ) solid transparent;
        border-bottom: calc( var(--time-view-arrow-line-height) / 2 ) solid transparent;
        border-right: var(--time-view-arrow-line-height) solid var(--link-color);
    }

    div.line {
        background-color: var(--link-color);
        position: absolute;
        left: var(--time-view-arrow-line-height);
        top: calc( var(--time-view-arrow-line-height) / 4 );
        height: calc( var(--time-view-arrow-line-height) / 2 );
        width: 100%;
    }
}