@import "../buttons/button";

$size: 8px;
$border-width: calc( $size / 4 );
$border-radius: $border-width;
$border: $border-width solid;

.ib-refresh-small {
    @include button;
    border-color: var(--calendar-js-light-color);
    
    &::before {
        border-top: $border;
        border-left: $border;
        border-radius: $border-radius;
        width: $size - $border-width * 2 - calc( $border-width / 3 );
        height: $size - $border-width;
        left: 0;
        top: 0;
    }

    &::after {
        border-bottom: $border;
        border-right: $border;
        border-radius: $border-radius;
        width: $size - $border-width * 2 - calc( $border-width / 3 );
        height: $size - $border-width;
        right: 0;
        top: 0;
    }
}