@import "icon";

.ib-arrow-expand-left-right-icon {
    @include button;

    &::before {
        border-left: $border;
        border-bottom: $border;
        width: $size - calc( $size / 2 );
        height: $size - calc( $size / 2 );
        bottom: 0;
        left: 0;
    }

    &::after {
        border-right: $border;
        border-top: $border;
        width: $size - calc( $size / 2 );
        height: $size - calc( $size / 2 );
        top: 0;
        right: 0;
    }
}