@import "icon";

.ib-plus-icon {
    @include button-size;

    &::before {
        @include button-after-before-setup;
        @include left-center;
        background-color: $icon-color;
        width: $border-width;
        height: 100%;
        border-radius: $border-radius;
        top: 0;
    }

    &::after {
        @include button-after-before-setup;
        @include top-center;
        background-color: $icon-color;
        width: 100%;
        height: $border-width;
        border-radius: $border-radius;
        left: 0;
    }
}