@import "button";

.ib-arrow-right-full {
    @include button-no-before-after;
    width: 0; 
    height: 0; 
    border-top: $size - $border-width * 2 solid transparent;
    border-bottom: $size - $border-width * 2 solid transparent;
    border-left: $size solid $light-color;
}