@import "button";

.ib-plus {
    @include button;

    &::before {
        @include left-center;
        background-color: var(--light-color);
        width: $border-width;
        height: 100%;
        border-radius: $border-radius;
        top: 0;
    }

    &::after {
        @include top-center;
        background-color: var(--light-color);
        width: 100%;
        height: $border-width;
        border-radius: $border-radius;
        left: 0;
    }
}